absl-py
albumentations==1.0.1
altgraph==0.17
apipkg==1.5
appdirs==1.4.4
asgiref==3.3.4
async-timeout==3.0.1
atari-py==0.2.9
atomicwrites==1.4.0
attrs==21.2.0
autopep8==1.5.4
brotlipy==0.7.0
cached-property==1.5.2
catalogue 
certifi==2021.5.30
cffi
chardet
click
cloudpickle==1.6.0
colora
contextlib2==0.6.0.post1
cryptography 
cycler==0.10.0
cymem
Cython==0.29.23
dataclasses==0.6
decorator==4.4.2
dephell-pythons==0.1.15
dephell-specifier==0.2.2
Django==3.2.2
dlib==19.22.0
docopt==0.6.2
docutils==0.17.1
et-xmlfile==1.0.1
execnet==1.8.0
face-recognition-models==0.3.0
fake-useragent==0.1.11
flatbuffers==1.12
future==0.18.2
gast==0.4.0
glfw==2.1.0
google-auth==1.27.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
GPy
GPyOpt==1.2.6
grpcio==1.34.1
gym==0.18.3
h5py==3.1.0
idna 
imageio==2.9.0
importlib-metadata 
iniconfig==1.1.1
Jinja2
joblib==1.0.0
kiwisolver
lockfile==0.12.2
lxml==4.6.2
Markdown==3.3.4
MarkupSafe
matplotlib==3.3.3
mistune==0.8.4
mkl-service==2.3.0
mock==4.0.3
msgpack
msgpack-numpy
multidict==5.1.0
multitasking==0.0.9
murmurhash
networkx==2.5.1
nuclear==1.1.10
numpy==1.19.5
oauthlib==3.1.0
olefile
opencv-python==4.5.2.54
opencv-python-headless==4.5.2.54
openpyxl==3.0.7
opt-einsum==3.3.0
paramz==0.9.5
path==15.1.0
path.py==12.5.0
pathy
pefile==2019.4.18
pexpect==4.8.0
Pillow
pluggy==0.13.1
preshed
protobuf==3.15.3
ptyprocess==0.7.0
pure-python-adb==0.3.0.dev0
py==1.10.0
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser
pydantic
pygame==2.0.1
pyglet==1.5.15
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
pyOpenSSL
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
PySocks
pytest==6.2.2
pytest-shutil==1.7.0
python-crfsuite==0.9.7
python-dateutil==2.8.1
pytz
PyWavelets==1.1.1
pywin32==300
pywin32-ctypes==0.2.0
PyYAML==5.4.1
regex-rename==0.1.2
requests
ruamel.yaml==0.17.10
ruamel.yaml.clib==0.2.6
shellingham 
smart-open 
soupsieve
sqlparse==0.4.1
srsly
statsmodels 
tabulate 
termcolor==1.1.0
thinc 
threadpoolctl==2.1.0
tifffile==2021.7.2
toml==0.10.2
tomlkit==0.7.2
torch==1.7.1+cu110
torchaudio==0.7.2
torchvision==0.8.2+cu110
vncorenlp==1.0.3
websockets==9.1
wincertstore==0.2
XlsxWriter==1.3.9
yarg==0.1.9
yarl==1.6.3
yaspin==2.0.0
